import(methods)
import(rJava)
import(ggplot2)
importFrom(graphics,plot)
import(sp)


importFrom("grDevices", "rgb")
importFrom("stats", "runif", "var")


exportClasses(
    Statistic,
        SpatialCumulativeDistributionFunction,
        SpatialMean,
        SpatialVariance,
        SamplingVariance,
            StandardError,
    Stratification,
        CompactStratification,
            CompactStratificationEqualArea,
            CompactStratificationPriorPoints,
    SamplingPattern,
        SamplingPatternPurposive,
            SamplingPatternCentroids,
            SamplingPatternPriorPoints,
        SamplingPatternRandom,
            SamplingPatternRandomSamplingUnits,
            SamplingPatternRandomComposite
)

exportMethods(
    plot,
    coerce,
    estimate,
    stratify,
    getArea,
    getRelativeArea,
    getCentroid,
    getSampleSize,
    getNumberOfStrata,
    getObjectiveFunctionValue,
    spsample
)